<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://ssb.wiki.gallery/images/7/7b/Pok%C3%A9_Ball_Origin.png" width="40" height="40" class="d-inline-block align-top" alt="">
    <h1 class="navbar-title">Pokédex</h1>
  </a>
</nav>
