.main-container {
  height: 600px;
  width: auto;
  margin: 50px auto;
  padding: 0;
  overflow: scroll;
  // overflow-x hides only horizontal scrollbar
  overflow-x: hidden;
}

.pokemon-row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin: 5px auto;
  padding: 8px 24px;
  background: rgb(212, 208, 208);
  border-radius: 8px;
  text-decoration: none;
  opacity: 0.6;
}

// card spacing/styling

.pokemon-number {
  margin: 0 20px 0 0;
}

.pokemon-name {
  margin: 0 20px 0 0;
}
